<div class="px-2 sm:px-8 md:px-24 lg:px-48 xl:px-72">

  <div class="flex flex-row items-center justify-between px-3 my-8 font-sen">
    <div>
      <p class="text-3xl font-bold text-white">Santhosh M</p>
      <!-- <p class="mt-1 text-lg font-medium text-gray-300">
        Fullstack Software Developer, <br/> Software Architect, <br/> Clean Coder <br/>
      </p> -->

      <p class="mt-4 text-gray-400">
        I'm a full-stack developer🧑‍💻 with a passion for <br/>Angular, Flutter📱 and Nestjs (NodeJS Framework). I love working with TypeScript and Dart <br/>and learning new ways to tackle common problem
        <br />
      </p>

      <!-- <a passHref>
        <a
        href="https://blog.santhosh.pro"
          class="flex flex-row items-center gap-1 mt-4 text-xl text-gray-400 duration-100 cursor-pointer font-jost hover:ml-2"
          target="_blank"
          rel="noopener noreferrer"
        >
          Read my Blog
        </a>
      </a> -->

      <a passHref>
        <a
          href="https://www.buymeacoffee.com/iamsanthosh.pro"
          class="flex flex-row items-center gap-1 mt-4 text-xl text-gray-400 duration-100 cursor-pointer font-jost hover:ml-2"
          target="_blank"
          rel="noopener noreferrer"
        >
          Love my work? Sponsor me!
          <!-- <HiOutlineArrowNarrowRight /> -->
        </a>
      </a>
    </div>

    <div class="flex flex-col items-center space-y-6">
      <img
        src="assets/images/profile.jpg"
        width="180"
        height="180"
        class="rounded-full"
        alt="avatar"
      />

    </div>
  </div>

  <div class="px-3 my-16 text-white font-sen" id="skills">
    <p class="text-3xl font-bold text-white">Skills & Uses</p>

    <div
      class="flex flex-col my-8 font-medium text-md md:text-xl custom:text-lg"
    >
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <!-- <BsArrowRightShort size="30" /> -->
        <span class="text-white">Typescript & Dart </span>
        &nbsp;as my Programming Language
      </p>

      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <!-- <BsArrowRightShort size="30" /> -->
        <span class="text-white">Angular & Flutter </span>
        &nbsp;as my Frontend Stacks
      </p>

      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <!-- <BsArrowRightShort size="30" /> -->
        <span class="text-white">NestJs with Prisma (Mysql and PostgreSql) </span>
        &nbsp;as my Backend Stacks
      </p>

      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <!-- <BsArrowRightShort size="30" /> -->
        <span class="text-white"
          >Kubernetes, Pulumi, Github Actions and Github Packages (Cloud Providers:
          Digital Ocean, Linode)</span
        >
        &nbsp;as my Devops Stacks
      </p>

      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <!-- <BsArrowRightShort size="30" /> -->
        <span class="text-white">Github Repository and Github Project</span>
        &nbsp;as my SCM and Project Management Stacks
      </p>
    </div>

    <p class="text-lg font-medium text-slate-300">
      ...more skills include <span class="text-white">Microservice</span>,
      <span class="text-white">Dapr</span>,
      <span class="text-white">Rabbitmq</span>,
      <span class="text-white">Redis</span>,
      <span class="text-white">Docker</span>,
      <span class="text-white">PWA</span>,
      <span class="text-white">Plopjs</span>,
      <span class="text-white">oclif</span>,
      <span class="text-white">Figma</span>
    </p>
  </div>

  <!-- <div class="px-3 my-16 font-sen" id="projects">
    <p class="text-3xl font-bold text-white">Featured Projects</p>
    <div class="flex flex-col items-center justify-center gap-10 my-8 sm:flex-row">
      <a href="https://vault3.live" passHref>
        <a
          class="h-[7rem] w-[14rem] cursor-pointer rounded-lg bg-gradient-to-r from-[#D8B4FE] to-[#818CF8] p-1 text-white duration-100 hover:scale-105"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex flex-col items-center justify-center w-full h-full px-2 font-medium text-center rounded-lg bg-primary">
            <p class="text-xl font-semibold">Vault3</p>
            <p>Your safest decentralized vault</p>
          </div>
        </a>
      </a>

      <a href="https://github.com/avneesh0612/Orbits-UI" passHref>
        <a
          class="h-[7rem] w-[14rem] cursor-pointer rounded-lg bg-gradient-to-r from-[#FDE68A] via-[#FCA5A5] to-[#FECACA] p-1 text-white duration-100 hover:scale-105"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex flex-col items-center justify-center w-full h-full px-2 font-medium text-center rounded-lg bg-primary">
            <p class="text-xl font-semibold">Orbits UI</p>
            <p>React component library built with Tailwind CSS</p>
          </div>
        </a>
      </a>
    </div>
  </div> -->

  <div class="px-3 font-sen" id="contact">
    <p class="text-3xl font-bold text-white">Get in touch</p>

    <div class="flex flex-row justify-center my-8 gap-x-4">
      <a href="https://github.com/santhosh-pro" passHref>
        <img src="assets/images/github.svg" width="25" />
      </a>
      <a href="https://www.upwork.com/freelancers/~017cd41b09fd764257" passHref>
        <img  src="assets/images/upwork.png" width="25" />
      </a>
      <a href="https://www.linkedin.com/in/santhosh-pro/" passHref>
        <img  src="assets/images/linkedin.svg" width="25" />
      </a>
      <a href="mailto:iamsanthosh.pro@gmail.com" passHref>
        <img  src="assets/images/gmail.svg" width="25" />
      </a>
    </div>
  </div>
</div>
